body {
    transition: 150ms ease-in;
}

h1 {
    margin-top: 12vh;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
}

#app {
    display: grid;
    height: 100vh;
}

.btns {
    box-sizing: border-box;
    height: 100vh;
    width: 40vw;
    position: absolute;
    display: grid;
    justify-items: center;
    align-items: center;
}

#right-area {
    right: 0;
}

.icons {
    margin: 0;
    font-size: 68px;
    font-weight: 900;
    background-color: purple;
    padding: 12px 32px;
    border-radius: 50%;
}
